In [1]:
#n use float() function to convert other type values to float type.
float(10)

10.0

In [3]:
float("10.5")

10.5

In [4]:
float("10")

10.0

In [5]:
#use complex() function to convert other types to complex type.
complex(10)

(10+0j)

In [6]:
complex(10.5)

(10.5+0j)

In [7]:
complex("10.5")

(10.5+0j)

In [8]:
complex("10")

(10+0j)

In [9]:
complex(False)

0j

In [10]:
complex(10.5)

(10.5+0j)

In [11]:
complex(10,-2)

(10-2j)

In [12]:
complex(True,False)

(1+0j)

In [14]:
#Fundamental Data Types vs Immutability:
b=10
id(b)

94167537546560

In [16]:
a=11
id(a)

94167537546592

In [21]:
#bytes Data Type
x = [10,20,30,40]
b = bytes(x)
for i in b : print(i)

10
20
30
40

In [18]:
x = [10,20,30,40]
b = bytes(x)
type(b)

bytes

In [19]:
x = [10,20,30,40]
b = bytes(x)
print(b[0])

10

In [20]:
x = [10,20,30,40]
b = bytes(x)
print(b[-1])

40

In [24]:
#bytearray Data type:
x=[10,20,30,40]
b = bytearray(x)
for i in b : print(i) 
b[0]=100
for i in b: print(i)

10
20
30
40
100
20
30
40

In [1]:
#list data type
list=[10,10.5,'durga',True,10]
print(list)

[10, 10.5, 'durga', True, 10]

In [2]:
list=[10,20,30]
list.append("durga")
list

[10, 20, 30, 'durga']

In [3]:
list.remove(20)
list

[10, 30, 'durga']

In [4]:
list2=list*2
list2

[10, 30, 'durga', 10, 30, 'durga']

In [5]:
#tuple data type
t=(10,20,30,40)
type(t)

tuple

In [6]:
#range Data Type
range(10)

range(0, 10)

In [7]:
r=range(10)
for i in r : print(i)

0
1
2
3
4
5
6
7
8
9

In [8]:
range(10,20)

range(10, 20)

In [9]:
r = range(10,20)
for i in r : print(i)

10
11
12
13
14
15
16
17
18
19

In [10]:
range(10,20,2)

range(10, 20, 2)

In [11]:
r = range(10,20,2)
for i in r : print(i)

10
12
14
16
18

In [13]:
r=range(10,20)
r[0]

10

In [28]:
 l = list(range(10)) 
 l

TypeError: 'list' object is not callable

In [18]:
#set Data Type:
s={100,0,10,200,10,'durga'}
s

{0, 10, 100, 200, 'durga'}

In [19]:
s.add(60) 
s

{0, 10, 100, 200, 60, 'durga'}

In [20]:
s.remove(100) 
s

{0, 10, 200, 60, 'durga'}

In [23]:
#frozenset Data Type
s={10,20,30,40} 
fs=frozenset(s) 
type(fs)

frozenset

In [24]:
frozenset({40, 10, 20, 30}) 
for i in fs:print(i)

40
10
20
30

In [1]:
#None Data Type:
def m1():
    a=10
print(m1())

None

In [29]:
s="This is " symbol"

SyntaxError: invalid syntax (<ipython-input-29-8bd3278f82a1>, line 1)

In [30]:
#Program for minimum of 3 numbers
a=int(input("Enter First Number:"))
b=int(input("Enter Second Number:"))
c=int(input("Enter Third Number:"))
min=a if a<b and a<c else b if b<c else c
print("Minimum Value:",min)

Enter First Number:5
Enter Second Number:7
Enter Third Number:2
Minimum Value: 2

In [32]:
#Program for maximum of 3 numbers
a=int(input("Enter First Number:"))
b=int(input("Enter Second Number:"))
c=int(input("Enter Third Number:"))
max=a if a>b and a>c else b if b>c else c
print("Maximum Value:",max)

Enter First Number:10
Enter Second Number:100
Enter Third Number:2
Maximum Value: 100

In [3]:
#Identity Operators
a=10
b=10
print(a is b)

True

In [8]:
a=10
b=101
print(a is not b)

True

In [5]:
a="durga"
b="durga"
print(id(a))
print(id(b))
print(a is b)

139857338078184
139857338078184
True

In [7]:
list1=["one","two","three"]
list2=["one","two","three"]
print(id(list1))
print(id(list2))
print(list1 is list2) 
print(list1 is not list2) 
print(list1 == list2)

139857338948168
139857296222024
False
True
True

In [9]:
a=10
b=101
print(a is b)

False

In [11]:
#Membership operators:
x="hello learning Python is very easy!!!"
print('h' in x)
print('d' in x) 
print('d' not in x) 
print('Python' in x)

True
False
True
True

In [12]:
#Operator Precedence
print(3+10*2)
print((3+10)*2)

23
26

In [13]:
#Mathematical Functions (math Module)
import math
print(math.sqrt(16))
print(math.pi)

4.0
3.141592653589793

In [14]:
import math as m
print(m.sqrt(16))
print(m.pi)

4.0
3.141592653589793

In [15]:
from math import sqrt,pi
print(sqrt(16))
print(pi)
print(math.pi)

4.0
3.141592653589793
3.141592653589793

In [18]:
#Write a Python program to find area of circle
from math import pi
r=16
print("Area of Circle is :",pi*r**2)

Area of Circle is : 804.247719318987

In [1]:
#Write a program to read 2 numbers from the keyboard and print sum.
x=input("Enter First Number:")
y=input("Enter Second Number:")
i = int(x)
j = int(y)
print("The Sum:",i+j)

Enter First Number:10
Enter Second Number:2
The Sum: 12

In [2]:
#Write a program to read Employee data from the keyboard and print that data.
eno=int(input("Enter Employee No:"))
ename=input("Enter Employee Name:")
esal=float(input("Enter Employee Salary:"))
eaddr=input("Enter Employee Address:")
married=bool(input("Employee Married ?[True|False]:"))
print("Please Confirm Information")
print("Employee No :",eno)
print("Employee Name :",ename)
print("Employee Salary :",esal)
print("Employee Address :",eaddr)
print("Employee Married ? :",married)

Enter Employee No:5
Enter Employee Name:shivam
Enter Employee Salary:450000
Enter Employee Address:indira nagar
Employee Married ?[True|False]:False
Please Confirm Information
Employee No : 5
Employee Name : shivam
Employee Salary : 450000.0
Employee Address : indira nagar
Employee Married ? : True

In [6]:
#How to read multiple values from the keyboard in a single line:
a,b= [int(x) for x in input("Enter 2 numbers :").split()]
print("Product is :", a*b)
print("Product is :", a+b)

Enter 2 numbers :10 20
Product is : 200
Product is : 30