In [1]:
print('suresh')

suresh

In [5]:
import calendar 
year=int(input('Enetr year:'))
month=int(input('Enter month:'))
print(calendar.month(year,month))

Enetr year:2021
Enter month:2
   February 2021
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28

In [2]:
import calendar 
year=int(input('Enetr year:'))
#month=int(input('Enter month:'))
print(calendar.calendar(year))

Enetr year:2021
                                  2021

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7       1  2  3  4  5  6  7
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       8  9 10 11 12 13 14
11 12 13 14 15 16 17      15 16 17 18 19 20 21      15 16 17 18 19 20 21
18 19 20 21 22 23 24      22 23 24 25 26 27 28      22 23 24 25 26 27 28
25 26 27 28 29 30 31                                29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                      1  2          1  2  3  4  5  6
 5  6  7  8  9 10 11       3  4  5  6  7  8  9       7  8  9 10 11 12 13
12 13 14 15 16 17 18      10 11 12 13 14 15 16      14 15 16 17 18 19 20
19 20 21 22 23 24 25      17 18 19 20 21 22 23      21 22 23 24 25 26 27
26 27 28 29 30            24 25 26 27 28 29 30      28 29 30
                          31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1             1  2  3  4  5
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       6  7  8  9 10 11 12
12 13 14 15 16 17 18       9 10 11 12 13 14 15      13 14 15 16 17 18 19
19 20 21 22 23 24 25      16 17 18 19 20 21 22      20 21 22 23 24 25 26
26 27 28 29 30 31         23 24 25 26 27 28 29      27 28 29 30
                          30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7             1  2  3  4  5
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       6  7  8  9 10 11 12
11 12 13 14 15 16 17      15 16 17 18 19 20 21      13 14 15 16 17 18 19
18 19 20 21 22 23 24      22 23 24 25 26 27 28      20 21 22 23 24 25 26
25 26 27 28 29 30 31      29 30                     27 28 29 30 31

In [15]:
x=float(input('enter the first number x:'))
y=float(input('enter the first number y:'))
temp=x
x=y
y=temp
print('print number x:',format(x))
print('print number y:',format(y))

enter the first number x:20
enter the first number y:30
print number x: 30.0
print number y: 20.0

In [17]:
color_list = ["Red","Green","White" ,"Black"]
print( "%s %s"%(color_list[0],color_list[-1]))

Red Black

In [13]:
#swap number
x=float(input('enter the first number x:'))
y=float(input('enter the first number y:'))
temp=x
x=y
y=temp
print('print number:',format(x))
print('print number:',format(y))

enter the first number x:10
enter the first number y:20
print number: 20.0
print number: 10.0

In [18]:
color_list

['Red', 'Green', 'White', 'Black']

In [1]:
int(1.0)

1

In [2]:
my_variable=100
print(my_variable)

100

In [4]:
var = '01234567'
print(var[::2])

0246

In [5]:
'1'+'2'

'12'

In [14]:
myvar = 'hello'
myvar.upper()

'HELLO'

In [15]:
s='SURESH'
s.lower()

'suresh'

In [16]:
type(11)

int

In [18]:
type('suresh')

str

In [19]:
type(1.1)

float

In [21]:
type(True)

bool

In [22]:
type(False)

bool

In [27]:
total_min = (43 + 42 )
total_min

total_hr = total_min / 60  
total_hr

85

In [41]:
Name= "Michael Jackson"
print(Name)
print(Name[13])
print(Name[6])
print(Name[2])
print(Name[-1])
print(Name[-15])
Name[0:4]
Name[0:8]
Name[0:5:2]
Statement = Name + "is the best"
print(Statement)

Michael Jackson
o
l
c
n
M
Michael Jacksonis the best

In [59]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    print(a-b)
    print(a+b)
    print(a*b)
    print(a//b)
    print(format(a/b,'.11f'))

4
3
1
7
12
1
1.33333333333

In [ ]:
if __name__ == '__main__':
    n = int(input())
    for i in range(n):
     print (i * i)

In [2]:
if __name__ == '__main__':
    n = int(input())
    for i in range(n):
     print(+i+1, end="")

5
12345

In [ ]:
if __name__ == '__main__':
    n = int(input())
    for i in range(n):
     print(+i+1)

In [7]:
if __name__ == '__main__':
    n = int(input())
    for i in range(n):
     print(+i+1, end=" ")

5
1 2 3 4 5

In [6]:
def is_leap(year):
    leap = False
    
    # Write your logic here
    if year % 400 == 0:
        leap = True
    elif year % 100 == 0:
        leap = False
    elif year % 4 == 0:
        leap = True
    
    return leap
    
    year = int(raw_input)
    print (is_leap(year))

In [19]:
#python program to check  if a number is positive negative or zero
no=float(input('Enter your no:'))

if no>0:
     print('{0} is positive number' .format(no))
else:
    print('{0} is negative number' .format(no))

Enter your no:55555
55555.0 is positive number

In [20]:
# to check the leap year
year=int(input('Enter year'))

In [24]:
# even or odd no
no=int(input('Enter the number:'))

if (no%2)==0:
     print('{0} even number' .format(no))
else:
    print('{0} odd number' .format(no))

Enter the number:4
4 even number

In [27]:
# area of tringle
#tringle have side a,b,c
#s=(a+b+c)/2
a=float(input('Enter the first side:  '))
b=float(input('Enter the second side: '))
c=float(input('Enter the third side:  '))
s=(a+b+c)/2
print('side',s)

Enter the first side3
Enter the second side2
Enter the third side2
side 3.5

In [30]:
#add two no
num1=input('Enter first:')
num2=input('Enter second :')
sum=float(num1)+float(num2)
print('sum of',num1,'and',num2,'is',sum)
print(sum)
print('sum of',num1,'and',num2,'is',sum)

Enter first:30
Enter second :40
sum of 30 and 40 is 70.0
70.0
sum of 30 and 40 is 70.0

In [48]:
a=float(input('Enter the first side:  '))
b=float(input('Enter the second side: '))
c=float(input('Enter the third side:  '))
area=(s*(s-a)*(s-b)*(s-c))**0.5
print(area)
print(format(area,'.2f'))

Enter the first side:  2
Enter the second side: 3
Enter the third side:  2
1.984313483298443
1.98

In [39]:
# qusdratic equcation
import cmath
a=float(input('Enter the a: '))
b=float(input('Enter the b: '))
c=float(input('Enter the c: '))
d=(b**2)-(4*a*c)
print('sum num',d)
sul1=(-b-cmath.sqrt(d))/2*a
print('sulucution1',sul1)
sul2=(-b-cmath.sqrt(d))/2*a
print('sulucution2',sul2)

Enter the a: 5
Enter the b: 20
Enter the c: 2
sum num 360.0
sulucution1 (-97.4341649025257+0j)
sulucution2 (-97.4341649025257+0j)

In [42]:
#change Dictionory items
#value change

dic={'Name':'avi','Age':24,'position':'2nd','marks':[80,67,68,88]}
dic['marks']=99

In [43]:
dic

{'Name': 'avi', 'Age': 24, 'position': '2nd', 'marks': 99}

In [44]:
dic.update({'age':34})

In [45]:
dic

{'Name': 'avi', 'Age': 24, 'position': '2nd', 'marks': 99, 'age': 34}

In [46]:
dic['status']="Regular"

In [47]:
dic

{'Name': 'avi',
 'Age': 24,
 'position': '2nd',
 'marks': 99,
 'age': 34,
 'status': 'Regular'}

In [23]:
#how to acces our list item:referring to the index number
numbers=[12,44,56,78,56,9,2,67]
print(numbers[4])

56

In [15]:
print(numbers[5])

9

In [12]:
print(numbers[5:])

[9, 2, 67]

In [13]:
print(numbers[:5])

[12, 44, 56, 78, 56]

In [14]:
print(numbers[2:5])

[56, 78, 56]

In [21]:
single_list=["hello",123,True,"man"]
single_list

['hello', 123, True, 'man']

In [22]:
list2=[True,False]
type(list2)

list

In [40]:
a=int(input('Enter the number of a:'))
b=int(input('Enter the number of b:'))
c=int(input('Enter the number of c:'))
if(a>0 and b<6):
 print('True')
else:
 print('False')
if(a>0 or b>5):
 print('True')
else:
 print('False')
print(not c)

Enter the number of a:7
Enter the number of b:5
Enter the number of c:8
True
True
False

In [4]:
# Write a Python program to display the current date and time
import datetime
now = datetime.datetime.now()
print ("Current date and time : ")
print (now.strftime("%Y-%m-%d %H"))
print (now.strftime("%M:%S"))

Current date and time :
2021-03-07 00
12:34

In [54]:
color_list_1 = set(["White", "Black", "Red"])
color_list_2 = set(["Red", "Green"])

print(color_list_1.difference(color_list_2))

{'White', 'Black'}

In [1]:
#program on factorial : 
#for i in range (1num+1)
#fact=fact*i
num=int(input('Enter the number:'))
fact=1

if num<0:
    print('factorial does not exit for negatie no:')
elif num==0:
     print("factorial of 0 is 1")
else:
    for i in range(1,num+1):
                fact=fact*i
                print('factorial of',num,'is',fact)

Enter the number:6
factorial of 6 is 1
factorial of 6 is 2
factorial of 6 is 6
factorial of 6 is 24
factorial of 6 is 120
factorial of 6 is 720

In [12]:
#print the table
num=int(input('Enter the number:'))
for i in range(1,11):
    print(num,'*',i,'=',num*i)

Enter the number:19
19 * 1 = 19
19 * 2 = 38
19 * 3 = 57
19 * 4 = 76
19 * 5 = 95
19 * 6 = 114
19 * 7 = 133
19 * 8 = 152
19 * 9 = 171
19 * 10 = 190

In [21]:
#print the fibonacci
num=int(input('Enter the number:'))

Enter the number:4

In [1]:
#check the prime no -1 is not a prime no
#is divisible 1 0r it self
#like u check "7" is prime :2,3,4,5,6,
num=int(input('Enter the no:'))

if num>1:
    for x in range(2,num):
        if(num % x) == 0:
             print(num,'is not a prime number')
              #print (x,'time',num/x,'is',num)
             break
        else:
            print(num,'is a prime number')
            break
else:
    print(num,'not a prime number')

Enter the no:4
4 is not a prime number

In [7]:
num=int(input('Enter the no'))

if num>1:
    for x in range(2,num):
        if(num % x) == 0:
             print(num,'is not a prime number')
             break
            
        else:
            print(num,'is a prime number')
            break

Enter the no4
4 is not a prime number

In [6]:
def people_id(name):
print("hi" + name + "welcome and enjou your stay!good day!")
print(people_id('sean'))
print(people_id('kri'))

IndentationError: expected an indented block (<ipython-input-6-292743ba912d>, line 2)

In [8]:
a=20<25
print(a)

True

In [9]:
a=45
hex(a)

'0x2d'

In [12]:
a=b=c='apple'
print(a)

apple

In [6]:
#This is a comment 
if 5>2:    
print('five is greater than two!')
if 5>2:    
print('five is greater than two!')

IndentationError: expected an indented block (<ipython-input-6-f2957c5ce4c0>, line 2)

In [7]:
#Variables are containers for storing data values.
x=5
y='suresh'
print(x)
print(y)

5
suresh

In [9]:
x=5
y='suresh'
print(x)
type(y)

5

str

In [11]:
#the data type of a variable, this can be done with casting.
x=str(3)
y=int(3)
z=float(3)
print(x)
print(y)
print(z)

3
3
3.0

In [13]:
#Variable names are case-sensitive.
a=4
A='suresh'
print(A)
print(a)

suresh
4

In [17]:
               #Variable 
#A variable name must start with a letter or the underscore character
# A variable name cannot start with a number
# A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
#Variable names are case-sensitive (age, Age and AGE are three different variables)
s='suresh'
s_u='maurya'
_s_u='kumar'
S='maurya'
s2='kumar'
s_U='suresh'
print(s)
print(s_u)
print(_s_u)
print(S)
print(s2)
print(s_U)

suresh
maurya
kumar
maurya
kumar
suresh

In [20]:
                     #Variable 
#2myvar = "John ='Illegal variable names:'"
#my-var = "John ='Illegal variable names:'"
#my var = "John"='Illegal variable names:'

In [22]:
               #Multiple Variables
    
x,y,z='S','U','R'   
print(x)
print(y)
print(z)

S
U
R

In [24]:
x=y=z='S'
print(x)
print(y)
print(z)

S
S
S

In [25]:
S=['suresh','kumar','maurya']
x=y=z=S
print(x)
print(y)
print(z)

['suresh', 'kumar', 'maurya']
['suresh', 'kumar', 'maurya']
['suresh', 'kumar', 'maurya']

In [34]:
                                  #Global variables
#Global variables can be used by everyone, both inside of functions and outside.

#Create a variable outside of a function, and use it inside the function

x='suresh'
def myfunc():
    print('python: ' + x)
myfunc()

python: suresh

In [36]:
#If you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function. The global variable with the same name will remain as it was, global and with the original value.
#Create a variable inside a function, with the same name as the global variable

x='suresh'
def myfunc():
    x='maurya'
    print('python: ' + x)
myfunc()
print(x)

python: maurya
suresh

In [51]:
# global keyword
# global variable inside a function, you can use the global keyword.

def myfunc():
        global x
        x = 'fantastic'
myfunc()

print("Python is " + x)

Python is fantastic

In [53]:
#To change the value of a global variable inside a function, refer to the variable by using the global keyword:

x = "awesome"
def myfunc():
         global x
         x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [5]:
a=10
b=0o10
c=0X10
d=0B10
print(a)#10
print(b)#8
print(c)#16
print(d)#2

10
8
16
2

In [11]:
#We can use bin() to convert from any base to binary
bin(0X10)
'0b10000'

'0b10000'

In [8]:
bin(15)

'0b1111'

In [9]:
bin(0o11)

'0b1001'

In [12]:
#We can use oct() to convert from any base to octal
oct(10)

'0o12'

In [13]:
oct(0B1111)

'0o17'

In [14]:
oct(0X123)

'0o443'

In [16]:
#We can use hex() to convert from any base to hexa decimal
hex(100)

'0x64'

In [17]:
hex(0B111111)

'0x3f'

In [18]:
hex(0o12345)

'0x14e5'

In [19]:
#float data type:
f=1.2e3
print(f)

1200.0

In [21]:
f=1.234
type(f)

float

In [24]:
3+5j
10+5.5j
0.5+0.1j

(0.5+0.1j)

In [28]:
a=10+1.5j
b=20+2.5j
c=a+b
print(c)
type(c)

(30+4j)

complex

In [30]:
#.bool data type:
a=10
b=20
c=a<b
print(c)
d=a>b
print(d)

True
False

In [32]:
#Slicing of Strings:
s="durga"
s[0]

'd'

In [35]:
s[1:40]
s[1:]
s[:4]
'durg'
s[:]

'durga'

In [36]:
s[1:40]

'urga'

In [37]:
s[:]

'durga'

In [38]:
s[:4]

'durg'

In [39]:
s[1:]

'urga'

In [40]:
s*3

'durgadurgadurga'

In [41]:
len(s)

5

In [42]:
#this function to convert values from other types to int
int(123.987)

123

In [1]:
for i in range(1,int(input())): #More than 2 lines will result in 0 score. Do not leave a blank line also
      print(int(i * 10**i / 9))# for convert float to integer value

5
1
22
333
4444

In [2]:
#Given an integer, n, and n space-separated integers as input, create a tuple, t, of those n integers. 
#Then compute and print the result of hash(t).
if __name__ == '__main__':
    n = int(input())
    integer_list = map(int, input().split())
    a = tuple(integer_list)
    print(hash(a))

5
2
3430020387561

In [3]:
#Hello firstname lastname! You just delved into python.
# Complete the 'print_full_name' function below.
#
# The function is expected to return a STRING.
# The function accepts following parameters:
#  1. STRING first
#  2. STRING last
#
#str=input()
#str=input()
def print_full_name(first, last):
    # Write your code here
    last = last+"!"
    print("Hello",first, last,"You just delved into python.");

if __name__ == '__main__':
    first_name = input()
    last_name = input()
    print_full_name(first_name, last_name)

ross
taylor
Hello ross taylor! You just delved into python.

In [6]:
s='INDIA'
index=0
while index<len(s):
    print(s[index], end=' @ ')
    index=index+1

I @ N @ D @ I @ A @

In [8]:
s='I LOVE PYTHON PROGRAMMING '
for ch in range(len(s)-1,-1,-1):
    print(s[ch],end=' ')

  G N I M M A R G O R P   N O H T Y P   E V O L   I

In [13]:
s='INDIA'
#FOR LOOP BY DEFAULT TAKES 
for ch in s:
    print(ch, end=' @ ')

I @ N @ D @ I @ A @

In [16]:
s='I LOVE PYTHON PROGRAMMING '
for ch in range(0,len(s),2):
    print(s[ch],end=' ')

I L V   Y H N P O R M I G

In [21]:
import calculation

In [22]:
10/20

0.5

In [24]:
10+20

30

In [25]:
calculation.add(3,5)

8

In [34]:
def fib(n):
    if(n<=1):
        return n
    else:
        return(fib(n-1)+fib(n-2))
    n=int(input("Entr the number:"))
    print('Fibonacci series:')
    for i in range(n):
        print(fib(i))

In [35]:
def cal(a,b):
    return a+b,a-b
print(cal(20,10))

(30, 10)

In [39]:
def demo():
    s='I LOVE PYTHON'
    print(s)
    s='I LOVE PROGRAMMING '#global string
    demo()#function call
    print(s)

In [46]:
num=int(input('Enter the numbr :'))
fact=1
if num<0:
    print('factorial does not exit for negative number')
elif num==0:
    print('factorial of 0 is 1')
else:
    for i in range (1,num+1):
        fact=fact*i
    print('factorial of ',num,'is',fact)

Enter the numbr :5
factorial of  5 is 120

In [57]:
lower=int(input('Enter the lower number: '))
upper=int(input('Enter upper range:'))

for x in range(lower,upper+1):
     if x > 1:
        for i in range(2,x):
            if(x % 1)==0:
                break
        else:
            print(x)

Enter the lower number: 1
Enter upper range:7
2